@mixin chip-animation-frames($names...) {
    @for $i from 0 to length($names) {
        @keyframes #{nth($names, $i + 1)} {
            from {
                transform: rotateY(-90deg);
            }
            to {
                transform: rotateY(0deg);
            }
        }
    }
}

@include chip-animation-frames(chip-in-one, chip-in-two);


@mixin chip-anim($name) {
    animation-name: $name;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.chipWindowOne {
    @include chip-anim(chip-in-one);
}

.chipWindowTwo {
    @include chip-anim(chip-in-two);
}

