.activeNavTab {
    background-color: grey !important;
    color: white !important;
    border-bottom: 0px !important;
}

.inactiveNavTab {
    background-color: white !important;
    color: blue !important;
    border: 1px solid lightgray;
}