img {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    transform: scale(1.25);
}

.RightClickMenu {
    background-color: whitesmoke;
    background-clip: padding-box;
    border: 1px solid gray;
    border-radius: .25rem;
    min-width: 160px;
    padding: 5px;
    pointer-events: none;
    font-weight: normal;
    text-align: left;
    transition: opacity 250ms ease !important;
    font-family: "Lucida Console";
    color: black;
    font-size: 14px;
    z-index: 9999;
}

.RightClickMenuItem:hover {
    background-color: cadetblue;
}

.DisableDoubleClick {
    pointer-events: none;
}

.centerContent {
    text-align: center;
}

.centerInputBox {
    transform: translate(0px, 3px);
}