@use 'menu';
@use 'animations';
@use 'modal';
@use 'mixins';

@include mixins.chipClass("unknownChip", purple);
@include mixins.chipClass("UsedChip", grey);
@include mixins.chipClass("chipDescText", black);

.chipDescBackgroundSupprt {
    @extend %chipDescBox;
    background-image: url("img/chip-background-support.png");
}

.chipDescBackgroundMega {
    @extend %chipDescBox;
    background-image: url("img/chip-background-mega.png");
}

.chipDescBackgroundGiga {
    @extend %chipDescBox;
    background-image: url("img/chip-background-giga.png");
}

.chipDescBackgroundDark {
    @extend %chipDescBox;
    background-color: purple;
}

.chipDescPadding {
    margin-left: 6px;
    margin-right: 6px;
}