@use 'padding';
@use 'chips';
@use 'layout';
@use 'buttons';

div.Folder {
  border-radius: 8px;
  background-color: #00637b;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  overflow-y: scroll;
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: 16px;
  color: white;
  height: 85vh;
  overflow-x: hidden;
}

body {
  background-color: #00637b !important;
}

.tabPaneArea {
  background-color: #4abdb5;
}

.inactiveTab {
  display: none !important;
}

.activefolder {
  will-change: scroll-position;
}

.debug {
  border: 1px solid transparent;
}

.centercontent {
  text-align: center !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}